# Ignore object files in the tracking.
*.o

# Ignore compiled program.
basilio_chat

# Ignore testing binaries.
terminal/terminal_test
audio/audio_test
audio/audio_test_pa
audio/lookup_test

# Ignore .DS_Store (for Mac development)
.DS_Store
